// FOOTER::START
footer.footer
  .footer__wrapper
    .footer__copy © «Pancaspen», 2016.<span> Успешные мужчины ищут красивых девушек здесь. <br> Сервис по поиску содержанок и спонсоров.</span>
    .footer__links
      a(href='#') Договор оферты
      a(href='#').footer__links--mobile-visible Правила
      a(href='#') Обратная связь


// SCRIPTS

link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet')

//build:css css/styles.css
link(rel="stylesheet" href="components/normalize-css/normalize.css" type="text/css")
link(rel="stylesheet" href="css/lightslider.css" type="text/css")
link(rel="stylesheet" href="css/style.css" type="text/css")
//endbuild
script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
//build:js js/scripts.min.js
script(src="js/lightslider.min.js")
script(src="components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js")
script(src="js/main.js")
//endbuild
