// HEADER::START
header.header
  .header__wrapper
    button.hamburger.hamburger--3dy(type='button')
      span.hamburger-box
        span.hamburger-inner
    .header__logo
      a(href="#") Pancaspen.ru
    .header__navi
      .header__navi__item.header__place Ваша анкета на <span>27 месте</span> <a href='#'>поднять</a>
      a(href='#').header__navi__item.header__payed
        i.ico.ico-crown
        span 23 дня
      a(href='#').header__navi__item.header__notification
        i.ico.ico-eye
      a(href='#').header__navi__item.header__messages
        i.ico.ico-envelope
        i.ico.ico-unread
