/* 1. Layout */
/* LAYOUT */
/* variables */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
body, html {
    overflow-x: hidden;
    min-width: 320px;
    max-width: 100%;
    background: #f0f4f7;
    color: #4a4a4a;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.app .content {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
.app .content:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: ' ';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none;
}
.app .sidebar {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-transform: translate3d(-220px,0,0);
            transform: translate3d(-220px,0,0);
}
.app.sidebar-active .sidebar {
    -webkit-transform: translate3d(0px,0,0);
            transform: translate3d(0px,0,0);
}
.app.sidebar-active .content {
    -webkit-transform: translate3d(220px,0,0);
            transform: translate3d(220px,0,0);
}
@media(max-width: 768px) {
    .app {}
    .app.sidebar-active .sidebar {
        -webkit-transform: translate3d(0px,0,0);
                transform: translate3d(0px,0,0);
    }
    .app.sidebar-active .content {
        -webkit-transform: translate3d(0px,0,0);
                transform: translate3d(0px,0,0);
    }
    .app.sidebar-active .content:after {
        background: #000000;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: all;
    }
}

/* 2. Elements */
/* ICONS */
.ico {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    content: ' ';
    vertical-align: middle;
    font-style: normal;
}
.ico-crown {
    width: 16px;
    height: 14px;
    background-image: url(../images/sprite/ico-crown@2x.png);
}
.ico-eye {
    width: 16px;
    height: 10px;
    background-image: url(../images/sprite/ico-eye@2x.png);
}
.ico-envelope {
    width: 15px;
    height: 11px;
    background-image: url(../images/sprite/ico-envelope@2x.png);
}
.ico-gender {
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite/ico-gender@2x.png);
}
.ico-location {
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite/ico-location@2x.png);
}
.ico-calendar {
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite/ico-calendar@2x.png);
}
.ico-drop-girl {
    width: 15px;
    height: 24px;
    background-image: url(../images/sprite/ico-drop-girl@2x.png);
}
.ico-drop-man {
    width: 20px;
    height: 24px;
    background-image: url(../images/sprite/ico-drop-man@2x.png);
}
.ico-search {
    width: 20px;
    height: 21px;
    background-image: url(../images/sprite/ico-search@2x.png);
}
.ico-girl {
    width: 24px;
    height: 24px;
    background-image: url(../images/sprite/ico-girl@2x.png);
}
.ico-man {
    width: 22px;
    height: 24px;
    background-image: url(../images/sprite/ico-man@2x.png);
}
.ico-info {
    width: 22px;
    height: 23px;
    background-image: url(../images/sprite/ico-info@2x.png);
}
.ico-read {
    width: 20px;
    height: 24px;
    background-image: url(../images/sprite/ico-read@2x.png);
}
.ico-verified {
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite/ico-verified@2x.png);
}
.ico-envelope-green {
    width: 15px;
    height: 11px;
    background-image: url(../images/sprite/ico-envelope-green@2x.png);
}
/* sidebar */
.ico-sidebar-search {
    width: 15px;
    height: 16px;
    background-image: url(../images/sprite/ico-sidebar-search@2x.png);
}
.ico-sidebar-messages {
    width: 15px;
    height: 11px;
    background-image: url(../images/sprite/ico-sidebar-messages@2x.png);
}
.ico-sidebar-eye {
    width: 16px;
    height: 10px;
    background-image: url(../images/sprite/ico-sidebar-eye@2x.png);
}
.ico-sidebar-newletter {
    width: 16px;
    height: 12px;
    background-image: url(../images/sprite/ico-sidebar-newletter@2x.png);
}
.ico-sidebar-crown {
    width: 16px;
    height: 14px;
    background-image: url(../images/sprite/ico-sidebar-crown@2x.png);
}
.ico-sidebar-top {
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite/ico-sidebar-top@2x.png);
}
.ico-sidebar-promote {
    width: 16px;
    height: 14px;
    background-image: url(../images/sprite/ico-sidebar-promote@2x.png);
}
.ico-sidebar-settings {
    width: 16px;
    height: 16px;
    background-image: url(../images/sprite/ico-sidebar-settings@2x.png);
}
.ico-sidebar-contact {
    width: 10px;
    height: 16px;
    background-image: url(../images/sprite/ico-sidebar-contact@2x.png);
}
.ico-sidebar-logout {
    width: 15px;
    height: 16px;
    background-image: url(../images/sprite/ico-sidebar-logout@2x.png);
}
.ico-sidebar-messages-cout {
    padding: 2px 7px;
    border-radius: 15px;
    background: #fc5a93;
    color: white;
    font-size: 12px;
}
/* buttons */
.btn {
    display: inline-block;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-appearance: none;
}
.btn:focus, .btn:active {
    outline: none;
}
.btn--block {
    display: block;
}
.btn--hero {
    padding: 10px 30px;
    min-width: 230px;
    height: 55px;
    border: none;
    border-radius: 30px;
    background: #ff8e41;
    -webkit-box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
}
.btn--hero span {
    margin-left: 15px;
}
.btn--hero .ico {
    vertical-align: -3px;
}
.btn--hero:hover {
    background: #fc5a93;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn--primary {
    padding: 10px 20px;
    min-width: 200px;
    border: 1px solid #41d0a5;
    border-radius: 4px;
    color: #41d0a5;
    font-weight: 600;
    font-size: 15px;
}
.btn--primary .ico {
    margin-right: 10px;
    vertical-align: 0px;
}
.btn--primary:hover {
    background: #41d0a5;
    color: white;
}
.btn--primary:hover .ico-envelope-green {
    background-image: url(../images/sprite/ico-envelope@2x.png);
}
.btn--blue {
    padding: 10px 20px;
    min-width: 200px;
    border: 1px solid #67b3f4;
    border-radius: 4px;
    color: #67b3f4;
    font-weight: 600;
    font-size: 15px;
}
.btn--blue:hover {
    background: #67b3f4;
    color: white;
}
.btn--blue.btn--fill {
    background: #67b3f4;
    color: white;
}
.btn--blue.btn--fill:hover {
    background: transparent;
    color: #67b3f4;
}
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-left: -15px;
    padding: 12px 15px 8px 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}
.hamburger:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -2px;
    width: 20px;
    height: 3px;
    border-radius: 0px;
    background-color: white;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 0px;
    background-color: white;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -7px;
}
.hamburger-inner:after {
    bottom: -7px;
}
/* */
/* 3DY */
.hamburger--3dy .hamburger-box {
    -webkit-perspective: 80px;
            perspective: 80px;
}
.hamburger--3dy .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy .hamburger-inner:before, .hamburger--3dy .hamburger-inner:after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy.is-active .hamburger-inner {
    background-color: transparent;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
}
.hamburger--3dy.is-active .hamburger-inner:before {
    -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
            transform: translate3d(0, 7px, 0) rotate(45deg);
}
.hamburger--3dy.is-active .hamburger-inner:after {
    -webkit-transform: translate3d(0, -7px, 0) rotate(-45deg);
            transform: translate3d(0, -7px, 0) rotate(-45deg);
}

/* 3. Modules */
/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#67b5f4), to(#6589e6));
    background: -webkit-linear-gradient(left, #67b5f4, #6589e6);
    background: linear-gradient(to right, #67b5f4, #6589e6);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    color: white;
}
.header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.header__logo {
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0 1 0%;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-flex: 0;
}
.header__navi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0%;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    margin-left: auto;
    height: 50px;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
}
.header__navi__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    height: 50px;
    -webkit-transition: background .4s ease;
    transition: background .4s ease;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.header__navi__item:hover:not(.header__place) {
    background: #fc5a93;
}
.header__place {
    margin-right: 15px;
    color: #d9e8fa;
    font-size: 13px;
}
.header__place span {
    padding-right: 3px;
    padding-left: 3px;
    color: white;
    font-weight: 600;
}
.header__place a {
    text-decoration: underline;
}
.header__place a:hover {
    text-decoration: none;
}
@media(max-width: 768px) {
    .header__place {
        display: none;
    }
}
.header__payed {
    padding-right: 15px;
    padding-left: 15px;
    background: #fc5a93;
    font-size: 13px;
}
.header__payed span {
    margin-left: 7px;
}
.header__notification {
    padding: 0 15px;
}
.header__messages {
    position: relative;
    padding: 0 15px;
}
.header__messages .ico-unread {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc5a93;
}
/* HERO */
.hero {
    height: 480px;
    background: url('../images/heroMainpage.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.hero__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    height: 480px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.hero__title {
    color: white;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;
}
.hero__title span {
    display: block;
    margin-top: 5px;
    font-size: 21px;
}
.hero__form {
    margin-top: 25px;
}
.hero__cta {
    margin-top: 30px;
}
@media(max-width: 768px) {
    .hero {
        min-height: 600px;
        height: auto;
        background-attachment: local;
    }
    .hero__wrapper {
        padding-top: 100px;
        padding-right: 15px;
        padding-bottom: 60px;
        padding-left: 15px;
        min-height: 600px;
        height: auto;
    }
    .hero__title {
        font-weight: 700;
        font-size: 52px;
    }
}
/* LISTINGS */
.listings {
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
    background: white;
}
.listings__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1100px;
}
.listings__card {
    -webkit-flex: 0 1 31.5%;
        -ms-flex: 0 1 31.5%;
            flex: 0 1 31.5%;
    overflow: hidden;
    margin-top: 12px;
    margin-right: 1.5%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
    -webkit-box-flex: 0;
}
@media(max-width: 768px) {
    .listings__card {
        -webkit-flex-basis: 48.5%;
                flex-basis: 48.5%;
            -ms-flex-preferred-size: 48.5%;
    }
}
@media(max-width: 568px) {
    .listings__card {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 290px;
            -ms-flex-preferred-size: 100%;
    }
}
.listings__card:hover {
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}
.listings__card__image img {
    max-width: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.listings__card__info {
    padding: 20px 25px;
}
.listings__card__info__name {
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}
.listings__card__info__name .ico {
    margin-left: 6px;
    vertical-align: -2px;
}
.listings__card__info__name:hover {
    color: #41d0a5;
}
.listings__card__info__location {
    margin-top: 5px;
    font-size: 14px;
}
.listings__card__cta {
    margin-bottom: 15px;
    text-align: center;
}
.listings__card__cta .ico {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.listings__cta {
    margin-top: 30px;
    text-align: center;
}
/* ABOUT */
.about {
    margin-top: -1px;
    padding-bottom: 40px;
    background: #f0f4f7;
}
.about p {
    padding-bottom: 5px;
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
}
.about__wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 570px;
}
/* ARTICLES */
.articles .heading-line {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    max-width: 390px;
}
.articles .heading-line .ico {}
.articles .heading-line .ico:after, .articles .heading-line .ico:before {
    bottom: 45%;
}
.articles__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
            align-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
}
.articles__left {
    position: relative;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    overflow: hidden;
    max-height: 380px;
    -webkit-box-flex: 1;
}
.articles__left img h100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%) {}
.articles__right {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    background: white;
    -webkit-box-flex: 1;
}
.articles__slider {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    max-width: 390px;
}
.article {
    padding-bottom: 20px;
    text-align: center;
}
.article__name {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
}
.article__content {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
}
@media(max-width: 768px) {
    .articles {}
    .articles__wrapper {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .articles__left {
        min-height: 200px;
    }
}
/* FOOTER */
.footer {
    margin-top: 45px;
    padding: 10px 15px;
    border-top: 1px solid #d4d4d4;
    color: #afafaf;
    font-size: 12px;
}
.footer a {
    display: inline-block;
    text-decoration: underline;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.footer a:after {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 1px;
    height: 12px;
    background: #667392;
    content: ' ';
    vertical-align: middle;
}
.footer a:hover {
    color: #fc5a93;
    text-decoration: none;
}
.footer a:last-child {}
.footer a:last-child:after {
    display: none;
}
.footer a.active {
    color: #afafaf;
    text-decoration: none;
}
.footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.footer__copy {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    font-size: 12px;
    -webkit-box-flex: 0;
}
.footer__links {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-left: auto;
    color: #667392;
    text-align: right;
    -webkit-box-flex: 1;
}
@media(max-width: 768px) {
    .footer {}
    .footer__copy span {
        display: none;
    }
    .footer__links a {
        display: none;
    }
    .footer__links a:after {
        display: none;
    }
    .footer__links a.footer__links--mobile-visible {
        display: block;
    }
}
.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 8;
    min-height: -webkit-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    width: 220px;
    background: white;
    -webkit-box-shadow: 0px 0 5px -1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0 5px -1px rgba(0, 0, 0, 0.1);
}
.sidebar__scrollable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}
.sidebar__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: -webkit-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.sidebar__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-align-items: center;
            align-items: center;
    padding: 20px 15px 10px 15px;
    background: #f4f7fb;
    -webkit-box-flex: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.sidebar__head__profile-pic {
    overflow: hidden;
    width: 64px;
    height: 64px;
    border: 2px solid #fc5a93;
    border-radius: 50%;
}
.sidebar__head__profile-pic img {
    max-width: 100%;
}
.sidebar__head__profile-desc {
    margin-left: 10px;
}
.sidebar__head__username {
    font-weight: 600;
}
.sidebar__head__age {
    font-size: 14px;
}
.sidebar__head__status {
    margin-top: 3px;
    padding: 3px 10px;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}
.sidebar__head__status--vip {
    background: #fc5a93;
}
.sidebar__head-btn {
    padding: 0px 15px;
    padding-bottom: 15px;
    background: #f4f7fb;
}
.sidebar__head-btn .btn {
    min-width: auto;
}
.sidebar__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    min-height: 300px;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.sidebar__menu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0%;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 5px 15px;
    border-top: 1px solid #ececec;
    font-size: 15px;
    -webkit-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.sidebar__menu__link span {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0%;
    -webkit-box-flex: 1;
}
.sidebar__menu__link--muted {
    background: #f4f7fb;
}
.sidebar__menu__link--muted:hover {
    background: white;
}
.sidebar__menu__link__ico-wrap {
    -webkit-flex: 0 0 30px;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    -webkit-box-flex: 0;
}
.sidebar__menu__link__ico-wrap .ico {
    vertical-align: 0px;
}
.sidebar__menu__link:hover:not(.sidebar__menu__link--muted) {
    background: #f4f7fb;
}
/* UI */
.ui-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.ui-group .ui-dropdown {
    margin-right: 2px;
}
.ui-group .ui-dropdown:first-child .ui-dropdown__visible {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ui-group .ui-dropdown:last-child .ui-dropdown__visible {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
@media(max-width: 768px) {
    .ui-group {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        max-width: 600px;
    }
}
.ui-dropdown {
    position: relative;
    width: 240px;
}
.ui-dropdown--short {
    width: 130px;
}
.ui-dropdown--short .ui-dropdown__visible {
    padding-left: 15px;
}
.ui-dropdown.active .ui-dropdown__visible {
    outline: 2px solid #67b3f4;
    border-radius: 0px !important;
}
.ui-dropdown.active .ui-dropdown__select {
    display: block;
}
.ui-dropdown__visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 20px 15px 20px 25px;
    background: white;
    color: #aeaeb0;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.ui-dropdown__visible span {
    overflow: hidden;
    margin-right: 10px;
    white-space: nowrap;
}
.ui-dropdown__visible.selected {
    color: #4a4a4a;
}
.ui-dropdown__select {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 5;
    display: none;
    overflow-y: scroll;
    max-height: 270px;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.ui-dropdown__select--regions .ui-dropdown__select__option {
    font-weight: 400;
}
.ui-dropdown__select__option {
    display: block;
    padding: 17px 15px;
    border-bottom: 1px solid #ececec;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.ui-dropdown__select__option .ico {
    margin-right: 20px;
    vertical-align: -6px;
}
.ui-dropdown__select__option span span {
    color: #aeaeb0;
}
.ui-dropdown__select__option:last-child {
    border-bottom: none;
}
.ui-dropdown__select__option:hover {
    background: #67b3f4;
    color: white;
}
.ui-dropdown__select__option:hover .ico {
    -webkit-filter: invert(1);
            filter: invert(1);
}
@media(max-width: 768px) {
    .ui-dropdown {
        margin: 0;
        margin-bottom: 5px;
        width: 100%;
    }
    .ui-dropdown .ui-dropdown__visible {
        border-radius: 4px;
    }
    .ui-dropdown--short {
        width: 50%;
        width: -webkit-calc(50% - 2px);
        width: calc(50% - 2px);
    }
}
.heading {
    padding-top: 45px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.heading-line {
    text-align: center;
}
.heading-line .ico {
    position: relative;
}
.heading-line .ico:before, .heading-line .ico:after {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 245px;
    height: 1px;
    background: #b7b7b7;
    content: ' ';
}
.heading-line .ico:before {
    right: 35px;
}
.heading-line .ico:after {
    left: 35px;
}
